<header>
  <a routerLink="/" style="text-decoration: none">
    <h1>JobFinder</h1>
  </a>
  <div class="_input_container" (click)="this.app.toggle_src_bar()">
    <mat-icon color="primary">place</mat-icon>
    <span>{{ this.app.input_value }}</span>
  </div>
  <div *ngIf="this.app.show_src_bar" class="src_bar_container">
    <form [formGroup]="srcForm" (ngSubmit)="submit_evt($event)">
      <div>
        <!-- skill level -->
        <mat-form-field appearance="legacy" class="level_form">
          <mat-label>Level</mat-label>
          <mat-select
            [formControl]="levelControl"
            multiple
            [(ngModel)]="selected_level"
          >
            <mat-option *ngFor="let level of levels" [value]="level">{{
              level
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- city -->
        <mat-form-field appearance="legacy" class="city_form">
          <mat-label>City</mat-label>
          <input
            type="text"
            [formControl]="cityControl"
            formControlName="city"
            matInput
            [matAutocomplete]="city_list"
          />
          <mat-autocomplete #city_list="matAutocomplete">
            <mat-option
              *ngFor="let city of filteredCities | async"
              [value]="city.name"
            >
              {{ city.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- country -->
        <mat-form-field appearance="legacy" class="country_form">
          <mat-label>Country</mat-label>
          <input
            type="text"
            [formControl]="countryControl"
            formControlName="country"
            matInput
            [matAutocomplete]="countries"
          />
          <mat-autocomplete
            #countries="matAutocomplete"
            (optionSelected)="this.api.update_country_code($event)"
          >
            <mat-option
              *ngFor="let country of filteredCountries | async"
              [value]="country.name"
            >
              {{ country.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" type="submit">Search Job</button>
    </form>
  </div>
</header>
<div
  class="src_trigger"
  *ngIf="this.app.show_src_bar"
  (click)="this.app.toggle_src_bar()"
></div>
