.job_detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
}
mat-card-title {
  font-size: 18px;
}
mat-card-subtitle {
  font-size: 16px;
}
mat-card-content {
  margin-top: 16px;
}

@media screen and (max-width: 769px) {
  mat-card {
    border-radius: 0;
  }
}
